{% extends 'base_accounts.html' %}

{% block title %}Reset your password{% endblock %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">重置密码</h3>
          <p>请检查您收到的邮件内链接重置您的密码, 若几分钟内为发现相关邮件, 请检查您邮箱内的垃圾箱</p>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">返回登录页面</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}